.che-ram-allocation-slider

  .slider-actual-ram-caption
    color $che-medium-blue-color

  .slider-max-ram-caption
    color $clear-foggy-sky-color

  .slider-holder

    /* Hide the focus thumb */
    md-slider .md-focus-thumb, md-slider .md-focus-ring
      display none

    /* Disable thumb animation and scale */
    md-slider .md-focus-thumb
      -webkit-animation-iteration-count 0
      animation-iteration-count 0
      -webkit-transform scale(0.5)
      transform scale(0.5)

    md-slider:not([disabled]):hover .md-thumb
      -webkit-transform scale(0.5)
      transform scale(0.5)

    md-slider:not([disabled]):focus .md-focus-ring, md-slider:not([disabled]).md-active .md-focus-ring
      -webkit-transform scale(0.5)
      transform scale(0.5)

    md-slider:not([disabled]):focus .md-thumb, md-slider:not([disabled]).md-active .md-thumb
      -webkit-transform scale(0.5)
      transform scale(0.5)
