$empty-state-background-color = #F7F7F7
$empty-state-border-color = #CBCBCB
$empty-state-label-color = #9B9B9B

.cdvy-empty-state
  position relative

.cdvy-empty-state .cdvy-mobile,
.cdvy-empty-state .cdvy-desktop
  margin auto
  width 320px
  height 320px
  border-radius 160px
  background $empty-state-background-color
  border 6px solid $empty-state-border-color

.cdvy-empty-state .cdvy-mobile > div,
.cdvy-empty-state .cdvy-desktop > div
  height 100%
  text-align center

.cdvy-empty-state label
  position absolute
  margin auto
  left 0
  right 0
  font-size 13px
  line-height 25px
  color $empty-state-label-color

.cdvy-empty-state .cdvy-mobile label:first-child,
.cdvy-empty-state .cdvy-desktop label:first-child
  top 20%
  width 80%

.cdvy-empty-state .cdvy-mobile div:before,
.cdvy-empty-state .cdvy-desktop div:before
  color $empty-state-border-color
  font-size 85px

.cdvy-empty-state .cdvy-mobile label:last-child,
.cdvy-empty-state .cdvy-desktop label:last-child
  width 70%
  height 20%
  bottom 10%
  line-height 20px
