<div class="cdvy-empty-state">
  <!-- Mobile version -->
  <div class="cdvy-mobile" hide-gt-md>
    <div layout="row" layout-align="center center">
      <label>{{value}}</label>

      <div class="cdvy-icon {{iconClass}}"></div>
      <label>{{prompt}}</label>
    </div>
  </div>

  <!-- Desktop version -->
  <div class="cdvy-desktop" hide-sm hide-md>
    <div layout="row" layout-align="center center">
      <label>{{value}}</label>

      <div class="cdvy-icon {{iconClass}}"></div>
      <label>{{prompt}}</label>
    </div>
  </div>
</div>
