.onprem-subscription-grid
  width 80%

.onprem-subscription-grid td
  padding 10px
  vertical-align middle
  border 1px solid $default-border-color

.onprem-subscription-grid td:nth-child(2)
  text-align center
  width 50%

.onprem-subscription-grid td:nth-child(1)
  text-align left
  width 50%

.onprem-subscription-title-item
  margin-bottom 10px

.onprem-subscription-command-line
  border 1px solid $default-border-color
  background-color alpha($default-border-color, 0.2)
  padding 10px 15px
  margin-bottom 10px
  font-size 12px
  font-family "Droid Sans Mono",monospace

.onprem-subscription-images-panel
  padding 20px 0px

.onprem-subscription-image
  border 1px solid $default-border-color
  width 135px
  height 65px

.onprem-subscription-panel-separator
  background-color $default-border-color
  width 1px
  height 190px
  display inline-table

.onprem-subscription-panel-separator-vertical
  background-color $default-border-color
  width 100%
  height 1px
  margin 20px 0px

.onprem-subscription-readmore-item
  margin 0px 10px
  text-decoration underline

.onprem-subscription-readmore-item a:hover
  color inherit
