.pay-as-you-go-description
  margin-bottom 10px

.pay-as-you-go-grid
  margin-right 30px
  margin-bottom 10px

.pay-as-you-go-grid td
  padding 10px
  vertical-align middle
  border 1px solid $default-border-color

.pay-as-you-go-grid td:nth-child(2)
  text-align center
  width 40%

.pay-as-you-go-grid td:nth-child(1)
  text-align left
  width 60%

.pay-as-you-go-item
  margin-bottom 10px
  margin-right 10px

.pay-as-you-go-item-space
  margin-bottom 20px
