.saas-subscription-grid
  margin-right 30px
  margin-bottom 10px
  width 80%

.saas-subscription-grid td
  padding 10px
  vertical-align middle
  border 1px solid $default-border-color

.saas-subscription-grid td:nth-child(2)
  text-align center
  width 50%

.saas-subscription-grid td:nth-child(1)
  text-align left
  width 50%

.saas-subscription-item
  min-width 240px
  max-width 240px

.saas-subscription-textitem
  margin-bottom 30px
  width 100%
  text-align justify

.saas-subscription-item-space-h
  width 50px

.saas-subscription-item-space-bottom
  height 50px
