.subscription-proposal-image
  margin-right 10px

.subscription-proposal-content
  margin-left 70px

.subscription-proposal-content ul
  padding 0px

.subscription-proposal-button-space
  width 100px

.subscription-proposal-price
  font-size 4em
  color $default-color

.subscription-proposal-price sup
 font-size 60%

.subscription-proposal-price-description
  color $label-info-color
