md-select.create-workspace-select
  width 100%
  margin-top 0px
  margin-bottom 0px

.create-workspace-input-with-description
  height 40px

.create-workspace-description
  font-size 12px
  color $disabled-color
  line-height 12px
  margin 0px

.create-workspace-space-top
  margin-top 15px

.create-workspace-members .workspace-members-content
  padding-left 0px
  padding-right 0px
