.cdvy-selecter
  height 180px
  width 180px
  border-color #dddddd
  background-color #ffffff
  border-width 3px
  border-style solid
  -moz-border-radius 10px !important
  border-radius 10px !important
  -webkit-box-shadow 0 1px 1px rgba(0, 0, 0, 0.05)
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.05)
  padding-top 20px
  margin-left 15px
  margin-right 17px
  color #8b8b8b

.cdvy-selecter select
  display block
  box-shadow: none;
  width 150px
  height 34px
  padding 6px 12px
  font-size 14px

.cdvy-selecter:hover
  background-color #8b8b8b
  color #ffffff


.cdvy-selecter-active
  border-color active-color
  color active-color

.cdvy-selecter-active select
  color #FFFFFF
  background-color transparent
  border-style none
  border-width 0
  text-align center
  -webkit-appearance none
  -moz-appearance none
  -ms-appearance none
  appearance none

.cdvy-selecter-active select:hover
  background-color #fafafa
  border-style solid
  border-width 1px
  text-align center
  color active-color



.cdvy-selecter-active .body
  display block !important
  background-color active-color

.cdvy-selecter md-icon
  font-size 40px
  text-align center
  margin-left auto
  margin-right auto
  margin-top 0px
  margin-bottom 0px
  height auto
  width auto

.cdvy-selecter .title
  margin-top 20px
  font-size 20px
  text-align center
  text-transform uppercase

.cdvy-selecter select
  margin-left 15px
  margin-right 15px

.cdvy-selecter .body
  margin-top 15px
  text-align center
  display none


.cdvy-selecter:hover .body
  display block
  background-color transparent



.cdvy-selecter:active .body
  display block
