.cdvy-panel
  margin-left 24px
  margin-top 32px
  margin-bottom 10px
  margin-right 24px
  background-color $background-color
  box-shadow-bigger()

.cdvy-panel .cdvy-panel-title
  color $default-dark-color
  margin-left 24px
  margin-top 20px
  margin-bottom 0px
  font-size 24px

md-card-content.cdvy-panel-content
  padding-top 20px
  padding-left 24px
  padding-bottom 25px
  padding-right 24px
