.cdvy-panel
  margin-left 24px
  margin-top 32px
  margin-bottom 25px
  margin-right 24px
  background-color white

.cdvy-panel .cdvy-panel-title
  color #0D4269
  margin-left 24px
  margin-top 20px
  font-size 24px
