.workspace-details-description
  font-size 12px
  color $disabled-color
  line-height 12px

.workspace-details-space-top
  margin-top 5px

.workspace-details-active-label
  line-height 20px

.workspace-details-switcher
  margin 5px 0px 0px

.workspace-details-locked-resources
  color $error-color
  height 40px
  font-size 14px
  font-weight bold

.workspace-details-locked-resources md-icon
  font-size 24px
  margin 0 10px 0px 0px
  color $error-color

.workspace-details-consumed-resources
  font-size 14px
  font-weight bold
  color $label-info-color
