.workspace-details-description
  font-size 12px
  color $disabled-color
  line-height 12px

.workspace-details-space-top
  margin-top 5px

.workspace-details-active-label
  line-height 20px

.workspace-details-switcher
  margin 5px 0px 0px
