.cdvy-label
  width 100%

.cdvy-label-mobile,
.cdvy-label-desktop
  margin-bottom 25px
  border-width 0 0 1px 0
  border-bottom-style solid
  border-color $default-border-color

.cdvy-label-mobile
  margin-left 0
  width 100%

.cdvy-label-desktop
  margin-left 15%
  width 85%
