<div class="cdvy-text-info">
  <!-- Mobile version -->
  <div class="cdvy-text-info-mobile" hide-gt-md>
    <div ng-if="labelName">{{labelName}}</div>
    <span ng-class="{ 'cdvy-text-info-copy-clipboard': copyClipboard }">
      <a ng-if="hrefValue" ng-href="{{hrefValue}}" target="_blank">{{textValue}}</a>
      <label ng-if="!hrefValue">{{textValue}}</label>
    </span>
    <cdvy-clipboard ng-if="copyClipboard" class="copy-clipboard" cdvy-value="textValue"></cdvy-clipboard>
  </div>
  <!-- Desktop version -->
  <div layout="row" flex layout-align="space-around start" class="cdvy-text-info-desktop" hide-sm hide-md>
    <label flex="15" ng-if="labelName">{{labelName}}:</label>
    <span ng-class="{ 'cdvy-text-info-copy-clipboard': copyClipboard }">
      <a ng-if="hrefValue" ng-href="{{hrefValue}}" target="_blank">{{textValue}}</a>
      <label ng-if="!hrefValue">{{textValue}}</label>
    </span>
    <cdvy-clipboard ng-if="copyClipboard" class="copy-clipboard" cdvy-value="textValue"></cdvy-clipboard>
  </div>
</div>
