.factory-from-file
  margin-top 25px
  margin-bottom 10px

.factory-from-file label
  font-size inherit

.factory-from-file input
  display none

.factory-from-file button
  box-shadow 0 2px 5px 0 $disabled-color
  border-radius 5px !important
  padding-right 20px
  padding-left 20px
  font-size 1.5em
  height auto
  width auto
