.cdvy-select .cdvy-select-container
  border-bottom 1px solid $default-border-color

.cdvy-select md-input-container
  margin-top 30px

.cdvy-select md-input-container label
  margin-top -47px

.cdvy-select select
  background inherit
  border none

.cdvy-select .cdvy-select-desktop select
  margin-left -4px
  border none

.cdvy-select select.disabled
  color $disabled-color

.cdvy-select select option:first-child
  display none

.cdvy-select select.disabled option:not(:first-child)
  color $label-primary-color

.cdvy-select-desktop select:focus
  border-color $primary-color

.cdvy-select-desktop
  margin-top 5px
  margin-bottom 20px


