<div class="cdvy-slider">
    <div layout="column" layout-gt-md="row">
        <cdvy-label-container cdvy-label-name="{{labelName}}">
            <div layout="row" class="slider-captions">
                <div layout="column" flex="50" flex-gt-md="25" class="slider-actual-ram-caption">
                    <div>{{sliderValue / captionValueDivider}} {{captionUnits}}</div>
                </div>
                <div layout="column" flex="50" flex-gt-md="25" layout-align="end end" class="slider-max-ram-caption">
                    <div>{{captionMaxValue / captionValueDivider}} {{captionUnits}}</div>
                </div>
            </div>
            <div layout="row">
                <div flex="100" flex-gt-md="50" class="slider-holder" ng-transclude>
                </div>
            </div>
        </cdvy-label-container>
    </div>
</div>


</div>
