<md-card layout="column" class="cdvy-simple-selecter"
         ng-init="codenvySimpleSelecterCtrl.initValue()"
         ng-click="codenvySimpleSelecterCtrl.select(codenvySimpleSelecterCtrl.name, codenvySimpleSelecterCtrl.title, codenvySimpleSelecterCtrl.value)"
         ng-class="{'cdvy-simple-selecter-active' : '{{codenvySimpleSelecterCtrl.title}}' == codenvySimpleSelecterCtrl.getSelected()}">
  <div layout="row">
    <md-icon md-font-icon="{{codenvySimpleSelecterCtrl.icon}}" flex layout="column" layout-align="start center"></md-icon>
    <div flex="70" class="title">{{codenvySimpleSelecterCtrl.title}}</div>
  </div>
  <div class="description">{{codenvySimpleSelecterCtrl.description}}</div>
</md-card>
