cdvy-toggle-button

cdvy-toggle-button .md-button
  height 40px
  margin-right 20px


cdvy-toggle-button .md-button.md-default-theme
  background-color transparent
  color active-color
  border-radius 3px
  -moz-border-radius 3px
  -webkit-border-radius 3px
  border 2px solid active-color

cdvy-toggle-button .md-button.md-default-theme:not([disabled]):focus
  background-color transparent


cdvy-toggle-button .md-button.md-default-theme.cdvy-toggle-button-disabled
  background-color white
  color #393939
  border-color #d3d3d3

cdvy-toggle-button md-icon
   padding-left 10px
   font-size 20px
   width auto
   height auto
   padding-right 22px

cdvy-toggle-button .cdvy-toggle-title
  padding-right 20px

cdvy-toggle-button .md-button.md-default-theme.cdvy-toggle-button-disabled md-icon
  color #d3d3d3
