cdvy-toggle-button

cdvy-toggle-button .md-button
  height 40px
  margin-right 20px


cdvy-toggle-button .md-button.md-default-theme
  background-color transparent
  color $primary-color
  codenvy-border-radius(3px)
  border 2px solid $primary-color

cdvy-toggle-button .md-button.md-default-theme:not([disabled]):focus
  background-color transparent


cdvy-toggle-button .md-button.md-default-theme.cdvy-toggle-button-disabled
  background-color $background-color
  color $label-secondary-color
  border-color $form-element-border-color

cdvy-toggle-button md-icon
   padding-left 10px
   font-size 20px
   width auto
   height auto
   padding-right 22px

cdvy-toggle-button .cdvy-toggle-title
  padding-right 20px

cdvy-toggle-button .md-button.md-default-theme.cdvy-toggle-button-disabled md-icon
  color $form-element-border-color
