cdvy-toggle-button

cdvy-toggle-button .md-button
  height 40px
  padding-left 20px
  padding-right 28px
  margin 10px


cdvy-toggle-button .md-button.md-default-theme
  background-color transparent
  color active-color
  border-radius 3px
  -moz-border-radius 3px
  -webkit-border-radius 3px
  border 2px solid active-color

cdvy-toggle-button .md-button.md-default-theme:not([disabled]):focus
  background-color transparent


cdvy-toggle-button .md-button.md-default-theme.cdvy-toggle-button-disabled
  background-color white
  color #393939
  border-color #d3d3d3

cdvy-toggle-button md-icon
   font-size 20px
   width auto
   height auto
   margin-right 28px

cdvy-toggle-button .md-button.md-default-theme.cdvy-toggle-button-disabled md-icon
  color #d3d3d3
