cdvy-button-style()
  codenvy-border-radius(5px)
  box-shadow-simple()
  font-size 1.5em
  width auto
  height auto
  padding-left 20px
  padding-right 20px
  margin-right 30px
  margin-bottom 10px

cdvy-button-danger .md-button.md-danger-theme.md-hue-3.md-accent.md-raised, cdvy-button-danger .md-button.md-danger-theme.md-hue-3.md-accent.md-raised
  cdvy-button-style()

cdvy-button-default button.md-accent.md-raised.md-hue-2.md-button.md-cdvydefault-theme
  cdvy-button-style()

cdvy-button-primary .md-button.md-default-theme.md-hue-2.md-accent.md-raised, cdvy-button-primary .md-button.md-maincontent-theme-theme.md-hue-2.md-accent.md-raised
  cdvy-button-style()


.cdvy-button md-icon
  display inline
  margin-right 10px
