cdvy-button-primary .md-button.md-default-theme.md-hue-2.md-accent.md-raised, cdvy-button-primary .md-button.md-maincontent-theme-theme.md-hue-2.md-accent.md-raised
  min-width 200px
  border-radius 5px
  -moz-border-radius 5px
  -webkit-border-radius 5px
  border 3px solid active-color
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  font-size 1.5em
  width auto
  height auto
  margin-right 30px
