<cdvy-toolbar title=":: {{projectDetailsCtrl.askedProjectName}}" button-name="Open in IDE" button-href="#/create-project"></cdvy-toolbar>
<md-progress-linear md-mode="indeterminate" ng-show="projectDetailsCtrl.loading" ></md-progress-linear>


<md-content md-scroll-y flex class="projects-details-project" ng-show="projectDetailsCtrl.projectDeleted" md-theme="maincontent-theme">

  <h1>Project has been deleted</h1>

</md-content>

<md-content md-scroll-y flex class="projects-details-project" ng-show="projectDetailsCtrl.projectDetails && !projectDetailsCtrl.projectDeleted" md-theme="maincontent-theme">
  <md-tabs md-selected="selectedIndex" class="project-details-menu">
    <cdvy-tab cdvy-title="Settings" cdvy-icon="material-design  icon-ic_settings_24px">
      <cdvy-panel cdvy-title="Project Information">



        <cdvy-input cdvy-form="projectInformationForm"
                    cdvy-name="name"
                    cdvy-label-name="Name"
                    cdvy-place-holder="Name of the project"
                    ng-model="projectDetailsCtrl.projectDetails.name"
                    required
                    ng-maxlength="128"
                    ng-pattern="/^[A-Za-z0-9_\-\.]+$/">
          <div ng-message="required">A name is required.</div>
          <div ng-message="pattern">The name should not contain special characters like space, dollar, etc.</div>
          <div ng-message="maxlength">The name has to be less than 128 characters long.</div>
          <div ng-message="md-maxlength">The name has to be less than 128 characters long.</div>
        </cdvy-input>

        <cdvy-input cdvy-form="projectInformationForm"
                    cdvy-name="description"
                    cdvy-label-name="Description"
                    cdvy-place-holder="Description of the project"
                    ng-model="projectDetailsCtrl.projectDetails.description"
                    ng-maxlength="256">
          <div ng-message="maxlength">The name has to be less than 256 characters long.</div>
          <div ng-message="md-maxlength">The name has to be less than 256 characters long.</div>
        </cdvy-input>



        <cdvy-button-primary cdvy-button-title="Update"
                             ng-click="projectDetailsCtrl.todo()"/>


      </cdvy-panel>

      <cdvy-panel cdvy-title="Visibility">
        <div layout="row" flex layout-align="space-around start">
          <label flex="15" ></label>
          <div layout="column" flex="85">
            <cdvy-toggle ng-model="projectDetailsCtrl.projectDetails.visibility" >
              <cdvy-toggle-button cdvy-font-icon="material-design icon-ic_lock_open_24px" cdvy-title="public"></cdvy-toggle-button>
              <cdvy-toggle-button cdvy-font-icon="material-design icon-ic_lock_24px" cdvy-title="private"></cdvy-toggle-button>
            </cdvy-toggle>
          </div>
        </div>
      </cdvy-panel>


      <cdvy-panel cdvy-title="Delete project">
        <div layout="row" flex layout-align="space-around start">
          <label flex="15" ></label>
          <div layout="column" flex="85">
            <cdvy-button-danger cdvy-button-title="Delete"
                                 ng-click="projectDetailsCtrl.deleteProject($event)"></cdvy-button-danger>

          </div>
        </div>
      </cdvy-panel>


    </cdvy-tab>

    <cdvy-tab cdvy-title="Repository" cdvy-icon="fa fa-code-fork">
    </cdvy-tab>

    <cdvy-tab cdvy-title="Machines" cdvy-icon="fa fa-cube">
    </cdvy-tab>

    <cdvy-tab cdvy-title="Factories" cdvy-icon="fa fa-rocket">
    </cdvy-tab>

    <cdvy-tab cdvy-title="Developers" cdvy-icon="material-design icon-ic_folder_shared_24px">
    </cdvy-tab>

  </md-tabs>
</md-content>


<md-content ng-show="projectDetailsCtrl.invalidProject">
{{projectDetailsCtrl.invalidProject}}
</md-content>


