.project-details-menu .md-header
  background-color sub-menu-color !important

.settings-icon:before,
.developer-icon:before
  font normal normal normal 20px / 1 "material-design"
  position relative
  margin-right 20px

.repository-icon:before,
.machines-icon:before,
.factories-icon:before
  font normal normal normal 20px / 1 FontAwesome
  position relative
  margin-right 20px

.settings-icon:before
  content: "\E0C6"

.repository-icon:before
  content "\f126"

.machines-icon:before
  content "\f1b2"

.factories-icon:before
  content "\f135"

.developer-icon:before
  content: "\E266"
