.project-details-menu .md-header
  background-color $background-color !important

.cdvy-button-right-bottom
  position fixed
  bottom 0
  right 0
  margin 20px

.project-details-content
  margin 15px
