.navbar-menu
  color #C5D0DF
  font-size 16px

.navbar-menu div
  height 54px

.navbar-menu div span
  top 18px
  position relative

.navbar-menu section span
  font-size 14px
  text-transform none

.navbar-menu section md-list
  padding-top 0

.navbar-menu div .material-design:before
  font-size 24px
  float right
  margin-top 15px
  margin-right 18px

.navbar-menu .developers-face
  codenvy-developers-face()
  -webkit-box-shadow 0 0 0 1px rgba(255, 255, 255, 0.5)
  -moz-box-shadow 0 0 0 1px rgba(255, 255, 255, 0.5)
  box-shadow 0 0 0 1px rgba(255, 255, 255, 0.5)
  margin 8px 30px 8px 22px
  float left

.navbar-menu .animation.ng-enter
  -webkit-transition: 1s
  -moz-transition: 1s
  transition: 1s
  opacity: 0

.navbar-menu .animation.ng-enter-stagger
  transition-delay 0.2s

.navbar-menu .animation.ng-enter.ng-enter-active
  opacity 1

.navbar-menu .animation.ng-leave
  -webkit-transition: 1s
  -moz-transition: 1s
  transition: 1s
  opacity 1

.navbar-menu .animation.ng-leave-stagger
  transition-delay 0.2s

.navbar-menu .animation.ng-leave.ng-leave-active
  opacity 0

.navbar-menu .animation.ng-leave + md-divider
  -webkit-transition: 1s
  -moz-transition: 1s
  transition 1s
  margin-top -10px
  opacity 1

.navbar-menu .animation.ng-leave-stagger + md-divider
  transition-delay 0.2s

.navbar-menu .animation.ng-leave.ng-leave-active + md-divider
  opacity 0

