.ud-beta-widget
  margin 10px
  font-size 16px
  text-align center
  border-radius 5px
  padding-bottom 5px
  background-color $white-color

.ud-beta-widget cdvy-button-default
  display block
  font-size 20px
  margin-bottom 10px

.ud-beta-widget cdvy-button-default:last-child
  margin-bottom 20px

.ud-beta-widget label
  text-align left
  display inherit
  margin-top 20px
  margin-left 10%
  margin-right 10%

.ud-beta-widget cdvy-button-default span
  display inline-block

.ud-beta-widget cdvy-button-default a
  transition none
  width 80%

.ud-beta-widget > span
  font-weight bold
  margin-top 10px
  display inline-block
  color $primary-color
