/*
  Codenvy User-Dashboard Codemirror theme
*/
.cm-s-codenvy.CodeMirror
  background-color #fff
  font-size 14px

.cm-s-codenvy .CodeMirror-selected
  background #f0f0f0 !important

.cm-s-codenvy .CodeMirror-gutters
  background #f8f8f8
  color #333

.cm-s-codenvy .CodeMirror-linenumber
  color #aaa
  margin-left 3px

div.cm-s-codenvy .CodeMirror-cursor
  border-left 2px solid #222

cm-s-codenvy .cm-keyword
  color #6262FF

.cm-s-codenvy .cm-atom
  color #244B60

.cm-s-codenvy .cm-number
  color  #415560

.cm-s-codenvy .cm-def
  color #8DA6CE

.cm-s-codenvy span.cm-variable-2, .cm-s-codenvy span.cm-tag
  color #690

.cm-s-codenvy span.cm-variable-3, .cm-s-codenvy span.cm-def
  color #07a

.cm-s-codenvy .cm-variable
  color #07a

.cm-s-codenvy .cm-property
  color #905

.cm-s-codenvy .cm-qualifier
  color #690

.cm-s-codenvy .cm-operator
  color #cda869

.cm-s-codenvy .cm-comment
  color  #777
  font-weight  normal


.cm-s-codenvy .cm-string
  color blue

.cm-s-codenvy .cm-string.cm-property
  color  $primary-color
  font-style italic

.cm-s-codenvy .cm-string-2
  color $primary-color

.cm-s-codenvy .cm-meta
  color  #000

.cm-s-codenvy .cm-builtin
  color  #9B7536

.cm-s-codenvy .cm-tag
  color  #997643

.cm-s-codenvy .cm-attribute
  color   #d6bb6d

.cm-s-codenvy .cm-header
  color  $error-color

.cm-s-codenvy .cm-hr
  color  #AEAEAE

.cm-s-codenvy .cm-link
  color  #ad9361
  font-style  italic
  text-decoration  none

.cm-s-codenvy .cm-error
  border-bottom 1px solid $error-color

div.cm-s-codenvy .CodeMirror-activeline-background
  background #fafafa

div.cm-s-codenvy span.CodeMirror-matchingbracket
  outline 1px solid grey
  color inherit

