cdvy-link-style()
  font-size 1em
  text-decoration underline
  width auto
  height auto
  padding-left 20px
  padding-right 20px
  margin-bottom 10px
  text-transform none
  color $codenvy-medium-blue-color

cdvy-link a[cdvy-link].cdvy-link.md-button.md-primary
  cdvy-link-style()

cdvy-link a[cdvy-link].cdvy-link.md-button.md-primary:first-child
  cdvy-link-style()

cdvy-link a[cdvy-link].cdvy-link.md-button.md-primary.cdvy-link-no-padding
  padding 0
  margin 0

a.cdvy-link.cdvy-link-no-padding
  cursor pointer
