/*
 * Copyright (c) 2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 */

.onprem-admin-software-lastcheck
  max-width 60em

.onprem-admin-available-software-table
  width 100%

.onprem-admin-available-software-table, .onprem-admin-available-software-table th, .onprem-admin-available-software-table td
  border-collapse collapse
  empty-cells show
  border-width 1px
  border-style solid
  border-color $list-separator-color

/* style for headers */
.onprem-admin-available-software-table th
  background-color #F1F1F1
  font-size 18px
  color $label-primary-color

/* all cells (header and data) have padding */
.onprem-admin-available-software-table th, .onprem-admin-available-software-table td
  padding 1em

td.onprem-admin-available-software-col
  padding 0

.onprem-admin-available-software-namecol-name
  font-weight bold
  margin-bottom 1em
  color $label-primary-color
  font-size 14px

.onprem-admin-available-software-namecol-desc
  font-size 11px
  color $label-info-color


.onprem-admin-available-software-namecol
  width 50%

.onprem-admin-installed-software-col
  width 25%

.onprem-admin-available-software-col
  width 25%

.onprem-admin-available-software-available-version
  color $label-secondary-color
  background-color $frame-available-bg-color
  padding 5px

.onprem-admin-available-software-available-version-details
  padding 1em

.onprem-admin-available-software-available-version-help-download
  margin-top 10px
