.onprem-admin-software-lastcheck
  max-width: 60em

.onprem-admin-available-software
  max-width: 60em
  margin-top:3em;

.onprem-admin-available-software-table, .onprem-admin-available-software-table th, .onprem-admin-available-software-table td
  border-collapse: collapse
  empty-cells: show
  border-width: 1px
  border-style: solid
  border-color: Black

.onprem-admin-available-software-table th, .onprem-admin-available-software-table td
  padding: 1em

.onprem-admin-available-software-namecol
  max-width: 20em

.onprem-admin-available-software-namecol-name
  font-weight: bold
  margin-bottom: 1em
