.projects-list-project-panel-toolbar
  font-weight bold

.projects-list-projects md-card
  margin-top 20px
  margin-bottom 20px

.projects-list-projects md-icon
  font-size 24px


.projects-list-projects md-card-content
  padding 0px


.projects-list-project-panel-subheader
  margin-right 0


