.change-password .prompt
  width 14%
  display inline-block
  color $disabled-color

.change-password .prompt .progress
  height 6px

.change-password div[ng-show],
.change-password div[ng-message]
  position absolute

.change-password .cdvy-input-desktop
  margin-bottom 0

.change-password .prompt + .cdvy-input .cdvy-input-desktop
  margin-top 30px
  margin-bottom 50px

