/*
 * Copyright (c) 2016 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 */
$title-color = #dfdfdf

.admins-user-management .password-prompt .progress
  height 6px

.admins-user-management .user-list-title
  background-color $title-color
  padding 15px

.admins-user-management .user-management-content
  margin 15px 0 15px 15px
  overflow visible

.user-management-content .list-small
  margin-bottom 90px

.user-management-content .admin-user-list
  max-height 800px;
  overflow-x auto;

.user-management-content .user-row
  min-height 56px

.user-management-content .user-face
  codenvy-developers-face()
  flex-shrink 0
  margin-left 10px
  margin-right 15px

.user-management-content .user-email
  color $label-secondary-color

.user-management-content .user-description
  color $label-info-color

.user-management-content .user-email,
.user-management-content .user-description
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  margin 5px

.user-management-content .user-actions
  color $label-info-color
  cursor pointer
  height 24px
  font-size 24px
  line-height 24px
  margin-right 15px

.user-management-content .add-button-container
  position static
  flex-shrink 0
  flex-grow 0
  width 0

.user-management-content .list-side-big
  width 80px
  position relative
