cdvy-button-dropdown .md-button.md-accent.md-raised.md-hue-2
  codenvy-border-radius(5px)
  box-shadow-simple()
  font-size 1.2em
  width auto
  height auto
  padding-left 10px
  padding-right 7px
  margin-right 0px
  margin-bottom 10px
  webkit-transform none
  -moz-transform none
  -ms-transform none
  -o-transform none
  transform none

.cdvy-button-dropdown-separator
  border-left solid 1px $background-color
  margin-left 10px
  margin-right 10px

cdvy-button-dropdown .cdvy-button-dropdown-elements
  z-index 1
  left 0
  position absolute
  margin-top -28px
  margin-left -12px
  width 288px
  color $label-info-color

cdvy-button-dropdown .cdvy-button-dropdown-elements ul
  list-style none

cdvy-button-dropdown .cdvy-button-dropdown-elements ul li
  codenvy-border-radius(5px)
  background-color white
  display list-item

cdvy-button-dropdown .cdvy-button-dropdown-elements ul li:hover a
  background $hover-on-list-color

cdvy-button-dropdown .cdvy-button-dropdown-elements ul li:last-of-type a
  border none

cdvy-button-dropdown .cdvy-button-dropdown-elements ul li a
  codenvy-border-radius(5px)
  border-bottom hidden
  display block
  padding 10px
  text-transform uppercase
  text-decoration none
  color $label-info-color
  border-bottom 1px solid $default-border-color
  box-shadow inset 0 1px 0 rgba(255,255,255,1)
  cursor pointer


cdvy-button-dropdown a
  color $background-color
  text-decoration none

.cdvy-button-dropdown i
  display inline
  margin-right 10px


.cdvy-button-dropdown-icon
  color $background-color
  margin-left 5px
  margin-top -9px
  font-size 32px
  -webkit-transform rotate(90deg)
  -moz-transform rotate(90deg)
  -ms-transform rotate(90deg)
  -o-transform rotate(90deg)
  transform rotate(90deg)
