.cdvy-toolbar-breadcrumb
  margin-top 30px
  margin-left 40px
  font-size 1em

.cdvy-toolbar-breadcrumb a
  color white

.cdvy-toolbar-breadcrumb .icon-breadcrumb
  font-size 38px
  margin-top -11px
  margin-left -5px


.cdvy-toolbar-title
  font-size 2em
  margin-top -14px
  margin-left 26px

.cdvy-toolbar-title-icons
 margin-left 20px

.cdvy-toolbar-title-icons md-icon
  font-size 30px
  height 34px
  width 34px
  margin-right 10px

.cdvy-toolbar-button
  font-size 14px
  margin-top -7px

.cdvy-toolbar-subheader
   margin-left 45px
   margin-top -12px
   margin-bottom 12px

.cdvy-toolbar-subheader .cdvyfont
  margin-top -2px
  margin-right 5px

.cdvy-toolbar-subheader
  text-transform capitalize

.toolbar-switch
   position absolute
   top 0px
   left 0px
   background-color transparent
   padding 5px
   margin 5px
   border none
   color $background-color
