.cdvy-toolbar-breadcrumb
  margin-top 0px
  margin-left 10px
  font-size 1em

.cdvy-toolbar-breadcrumb a
  color white

.cdvy-toolbar-breadcrumb .icon-breadcrumb
  font-size 38px
  margin-top 0px
  margin-left 2px


.cdvy-toolbar-title
  font-size 2em
  margin-top -14px
  margin-left 23px

.cdvy-toolbar-title-icons
 margin-left 20px

.cdvy-toolbar-title-icons md-icon
  font-size 24px
  height 34px
  width 34px
  margin-right 10px

.cdvy-toolbar-button
  font-size 14px
  margin-top -7px

.cdvy-toolbar-subheader
   margin-left 24px
   margin-top -12px
   margin-bottom 12px

.cdvy-toolbar-subheader .cdvyfont
  margin-top 2px
  margin-right 5px

.cdvy-toolbar-subheader
  text-transform capitalize

.toolbar-switch
   margin-left 9px
   background-color transparent
   border none
   color $background-color
  
.toolbar-switch md-icon
    vertical-align inherit
