md-toast.cdvy-notification-info,
md-toast.cdvy-notification-error,
md-toast.cdvy-notification-warning
  top 35px
  right 20px
  left inherit
  color #ffffff
  background-color #4255ff

md-toast.cdvy-notification-info
  color #3c763d
  background-color #d6e9c6

md-toast.cdvy-notification-info span
  text-align center

md-toast.cdvy-notification-error
  background-color #f2dede

md-toast.cdvy-notification-error,
md-toast.cdvy-notification-error span
  color #a94442

md-toast.cdvy-notification-error button
  margin-top 1px
  margin-right 2px
  margin-left 20px
  text-transform none
  border solid 1px #ebccd1
