md-toast.cdvy-notification-info,
md-toast.cdvy-notification-error
  transition-delay:0s
  box-shadow-simple()
  border-radius: 5px;
  width 588px
  max-height 288px
  top 35px
  bottom auto
  right 20px
  left inherit
  background-color #ffffff
  border-color $night-foggy-sky-color

md-toast.cdvy-notification-info div,
md-toast.cdvy-notification-error div
  justify-content flex-start

i.cdvy-notification-close-icon
  margin 2px 5px
  color $clear-foggy-sky-color

i.cdvy-notification-info-icon
  margin 5px 10px
  color $che-green-color

i.cdvy-notification-error-icon
  margin 5px 10px
  color $red-lipstick-color

md-toast.cdvy-notification-info
  color #3c763d

md-toast.cdvy-notification-info span,
md-toast.cdvy-notification-error span
  margin-left 5px
  max-height 100%
  overflow auto

span.cdvy-notification-error-title
  color $red-lipstick-color

span.cdvy-notification-message
  color $dark-menacing-sky-color
