md-content.create-factory
  overflow auto
  min-height calc(100vh - 152px)

.create-factory > md-card:first-child .cdvy-panel-content
  padding-left 0 !important
  padding-right 0 !important

.create-factory > md-card:first-child .cdvy-panel-content md-tabs-content-wrapper
  padding-left 24px
  padding-right 24px

md-progress-linear.create-factory-progress
  z-index 1
  height 10px
  position absolute

.create-factory .factory-configuration-panel p
  font-weight bold
  margin-bottom 20px
  color $red-lipstick-color

.create-factory .disabled-state
  cursor not-allowed
  background-color transparent

.create-factory .disabled-state .cdvy-panel-title
  cursor not-allowed
  color $disabled-color
