
.project-type-icon md-icon
  margin 0px 24px
  height 36px !important
  line-height 36px
  width 36px !important
  font-size 36px !important

.project-list-static-icon
  flex 0 0 86px
  text-align center

.project-list-row
  min-height 56px

.project-list-row > div
 display flex
 outline none

.project-list-row > p
  margin 0
  width 100%
  text-align end
  display inline-block

.hover-state:hover
  -webkit-filter brightness(80%)
  -moz-filter brightness(80%)
  filter brightness(80%)

.project-name
  font-size 16px
  line-height 19px
  color $label-primary-color
  margin-bottom 3px

.project-name a
  text-decoration none
  color inherit

.project-name a:hover
  color inherit

.project-details
  font-size 12px
  line-height 15px
  color $label-info-color

