md-toolbar.md-onboarding-theme-theme
  box-shadow none

.onboard-panel md-icon
  margin-right 10px

.onboard-separator
  margin-top 30px

.onboard-panel .onboard-image-panel
  margin-right 30px
  width 120px

.onboarding-first-panel
  background-color $default-dark-color
  padding-top 2px
  padding-bottom 30px

md-content.onboarding-content
  background-color $list-separator-color

md-card.onboard-panel.cdvy-panel.onboard-panel-step-disabled
  background-color $list-separator-color


md-card.onboard-panel.cdvy-panel.onboard-panel-step-enabled
  background-color white

.onboard-panel-credit-card-info
  color $default-dark-color
  margin-bottom 15px

.onboard-panel-credit-card-skipbutton
  margin-left 40px

.onboard-panel-inprogress-card
  margin-bottom 10px
