.codenvy-card-create
  max-width 1024px
  margin auto

.projects-create-project-button
  width 100%

.projects-create-project-panel-toolbar
  font-weight bold

.projects-create-project md-card
  margin-top 20px
  margin-bottom 20px

.projects-create-project-panel-visibility md-icon
  font-size 24px


.create-project-select
    display block
    width 100%
    height 34px
    padding 6px 12px
    font-size 14px
    line-height 1.42857143
    background-color #fafafa
    background-image none
    border 1px solid #e5e5e5
    border-radius 0
    -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075)
    -webkit-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
    transition border-color ease-in-out .15s,box-shadow ease-in-out .15s




.widget-select
  height 180px
  width 180px
  border-color #dddddd
  background-color #ffffff
  border-width 3px
  border-style solid
  -moz-border-radius 10px !important
  border-radius 10px !important
  -webkit-box-shadow 0 1px 1px rgba(0, 0, 0, 0.05)
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.05)
  padding-top 20px
  margin-left 15px
  margin-right 17px
  color #8b8b8b

.widget-select select
  display block
  box-shadow: none;
  width 150px
  height 34px
  padding 6px 12px
  font-size 14px

/*-webkit-appearance none
-moz-appearance none
-ms-appearance none
appearance none*/
  /*line-height 1.42857143
  background-color #fafafa
  background-image none
  border 1px solid #e5e5e5
  border-radius 0
  -webkit-box-shadow inset 0 1px 1px rgba(0,0,0,.075)
  -webkit-transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
  transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
*/




.widget-select:hover
  background-color #8b8b8b
  color #ffffff


.widget-select-active
  border-color active-color
  color active-color

.widget-select-active select
  color #FFFFFF
  background-color transparent
  border-style none
  border-width 0
  text-align center
  -webkit-appearance none
  -moz-appearance none
  -ms-appearance none
  appearance none

.widget-select-active select:hover
  background-color #fafafa
  border-style solid
  border-width 1px
  text-align center
  color active-color



.widget-select-active .body
  display block !important
  background-color active-color

.widget-select .icon
  font-size 40px
  text-align center

.widget-select .title
  margin-top 20px
  font-size 20px
  text-align center
  text-transform uppercase

.widget-select select
  margin-left 15px
  margin-right 15px

.widget-select .body
  margin-top 15px
  text-align center
  display none


.widget-select:hover .body
  display block
  background-color transparent



.widget-select:active .body
  display block
