cdvy-button-primary#create-project-button-import button
  margin-top 30px
  margin-left 24px
  margin-bottom 100px
  width calc(100% - 48px) !important

.create-project-box md-icon
  font-size 24px

md-select.create-project-select
  width 100%
  margin-top 0px
  margin-bottom 0px

.projects-create-project-tab
  margin-top 20px
