@import 'colors/codenvy-colors.styl'

codenvy-separator()
  position absolute
  top 0
  height 24px
  margin-top 12px
  border-left solid 1px $label-primary-color
  content ""

codenvy-roundimage()
  border-radius 50%

codenvy-developers-face()
  codenvy-roundimage()
  box-shadow-simple()
  height 37px
  width 37px

@import '../components/widget'
@import '../components/codemirror/codemirror'
@import 'projects/projects-config'

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px

  img.pull-right
    width 50px

html

body
  font-size 14px
  font-family Lato

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, .h5 small, h6 small, h6 .small
  font-size 65%
  color #777

md-divider
  border-top-color #888888 !important


// injector
// endinjector



.codenvy-logo
  width: 150px;
