active-color = rgb(61,143,118)
sub-menu-color = rgb(255,255,255)
sub-menu-separator-color = rgba(0,0,0,0.34)


codenvy-separator()
  position absolute
  top 0
  height 24px
  margin-top 12px
  border solid 1px sub-menu-separator-color
  content ""

@import '../components/widget'
@import '../components/codemirror/codemirror'
@import 'projects/projects-config'

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.thumbnail
  height 200px

  img.pull-right
    width 50px

html

body
  font-size 14px
  font-family Lato, sans-serif;

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, .h5 small, h6 small, h6 .small
  font-size 65%
  color #777

md-divider
  border-top-color #888888 !important


// injector
// endinjector



.codenvy-logo
  width: 150px;
