.onprem-your-install-label
  margin-top: 0.5em

.onprem-your-install-nodes
  max-width: 60em

.onprem-your-install-nodes-table, .onprem-your-install-nodes-table th, .onprem-your-install-nodes-table td
  border-collapse: collapse
  empty-cells: show
  border-width: 1px
  border-style: solid
  border-color: Black

.onprem-your-install-nodes-table th, .onprem-your-install-nodes-table td
  padding: 1em
