.onprem-your-install-label
  margin-top: 0.5em

.onprem-your-install-nodes
  max-width 80em
  margin-top 3em

.onprem-your-install-nodes-table
  width 100%

.onprem-your-install-nodes-table, .onprem-your-install-nodes-table th, .onprem-your-install-nodes-table td
  border-collapse collapse
  empty-cells show
  border-width 1px
  border-style solid
  border-color #E4E4E4

/* style for headers */
.onprem-your-install-nodes-table th
  background-color #F1F1F1
  font-size 18px
  color #545B64

/* all cells (header and data) have padding */
.onprem-your-install-nodes-table th, .onprem-your-install-nodes-table td
  padding: 1em
