.factory-from-project-workspace-filter
  margin-top 30px
  padding-bottom 30px
  color $label-primary-color

.factory-from-project cdvy-search
  color $label-primary-color

.factory-from-project cdvy-search .search-component
  border-bottom 1px solid $disabled-color

.factory-from-project cdvy-search .search-input
  color $label-primary-color

.factory-from-project cdvy-search md-icon
  font-size 16px

.factory-from-project cdvy-search .search-input::-webkit-input-placeholder
  color $label-primary-color
  font-style italic
  font-size 16px
  opacity 0.5

.factory-from-project cdvy-search .search-input:-moz-placeholder
  /* Mozilla Firefox 4 to 18 */
  color $label-primary-color
  font-style italic
  font-size 16px
  opacity 0.5

.factory-from-project cdvy-search .search-input::-moz-placeholder
  /* Mozilla Firefox 19+ */
  color $label-primary-color
  font-style italic
  font-size 16px
  opacity 0.5

.factory-from-project-workspace-filter .workspace-selector md-checkbox:after
  codenvy-separator()
  margin-top 17px
  margin-left 10px
  position relative

.factory-from-project-workspace-filter .workspace-selector:last-child md-checkbox:after
  display none

.factory-from-project-workspace-filter .greyed .md-icon
  background-color $disabled-color !important

.factory-from-project .project-list-static-icon
  flex 0 0 86px
  text-align center

.factory-from-project .project-list-static-icon project-type-icon
  margin 0 24px
  padding 10px 0
  width 36px
  height 36px
  line-height 36px
  font-size 36px
  color $label-secondary-color

.factory-from-project md-icon
  width auto
  height auto
  font-size 24px
  line-height 24px
  color $label-info-color

.factory-from-project .project-list-row
  cursor pointer
  min-height 56px

.factory-from-project .project-name
  font-size 16px
  line-height 19px
  margin-bottom 3px
  color $label-primary-color
