.onpremise-onboard-panel md-icon
  margin-right 10px

.onpremise-onboard-panel .image-panel
  margin-right 30px

.on-premise-on-boarding-agreement-buttons
  margin-top 35px

.on-premise-on-boarding-marketing-text
  margin-top -20px

.on-premise-on-boarding-marketing-buttons
  margin-bottom -15px

.on-premise-on-boarding-agreement-box
  margin-top -20px
