<md-toolbar>
  <h1 class="md-toolbar-tools">Codenvy</h1>
</md-toolbar>
<md-content>
  <md-button ng-click="close()" class="md-primary" hide-gt-md>
    Close Sidenav Left
  </md-button>
  <section layout="column" layout-align="center center" flex layout-margin>
    <md-button class="md-raised md-primary">Create project</md-button>
  </section>
  <md-divider ng-if="!$last"></md-divider>
  <section layout="column" layout-align="center center">
    <md-button>Dashboard</md-button>
    <a class="md-button" href="#/projects">Projects</a>
    <md-button>Factories</md-button>
    <md-button>Machines</md-button>
  </section>
  <md-divider ng-if="!$last"></md-divider>
  <section layout="column" layout-align="center center">
    <md-button>Stevan Le Meur</md-button>
  </section>
</md-content>
