$used-color = #4e5a96
$provided-color = #9b9b9b

.usage-chart-container
  height 56px
  overflow hidden

.usage-chart-label
  color $used-color
  font-size 12px
  font-weight bold
  text-transform uppercase

.usage-chart-separator
  background-color $provided-color
  width 100%
  height 1px
  margin 1px 0px

.usage-chart-used-value
  color $used-color

.usage-chart-provided-value
  color $provided-color

.usage-chart-used-value,  .usage-chart-provided-value
  font-size 12px
  font-weight bold
  white-space nowrap

.usage-chart
  width 60px
  height 70px
  margin-top 25px
  margin-right 10px
