.dashboard-learn-more .powered-by img
  width 100px
  height 100px
  margin 10px

.dashboard-learn-more .members-list
  position relative
  width 100%

.dashboard-learn-more .members-list > md-content
  position relative

.dashboard-learn-more .account-container
  width 100%
  height 30px
  float left
  margin-bottom 10px

.dashboard-learn-more .account-container > span
  margin-left 15px
  margin-right 5px

.dashboard-learn-more .account-container > md-select
  background inherit

.dashboard-learn-more .upgrade-codenvy
  position relative
  width 100%

.dashboard-learn-more .upgrade-codenvy .cdvy-panel
  margin-left 0
  margin-right 0
  box-shadow none
