<div>

  <cdvy-learn-more cdvy-title="Discover Codenvy">

    <cdvy-learn-more-item cdvy-learn-more-key="getting-started" cdvy-learn-more-section="basic">
      <cdvy-learn-more-item-title>Try the guided tour</cdvy-learn-more-item-title>
      <cdvy-learn-more-item-content>Get the most out of Codenvy in seconds.
        <br>
        <cdvy-button-primary cdvy-button-title="Follow Guided Tour"
                             cdvy-button-icon="fa fa-chevron-circle-right"
                             ng-click="dashboardLearnMoreCtrl.gettingStarted();">
        </cdvy-button-primary>
        <br>
        <div layout="column" layout-align="left left">
          Learn how to:
          <ul>
            <li>Connect a source code repository</li>
            <li>Use the editor</li>
            <li>Build and run your project</li>
            <li>Share your project</li>
          </ul>
        </div>
      </cdvy-learn-more-item-content>
    </cdvy-learn-more-item>

    <cdvy-learn-more-item cdvy-learn-more-key="import-project" cdvy-learn-more-section="basic">
      <cdvy-learn-more-item-title>Import your project</cdvy-learn-more-item-title>
      <cdvy-learn-more-item-content>Import projects from your source code repository.<br/>
        <div layout="column" layout-gt-lg="row" layout-align="center center">
          <cdvy-button-primary cdvy-button-title="Connect your repo"
                               cdvy-button-icon="fa fa-github"
                               ng-click="dashboardLearnMoreCtrl.importFirstProjectGit();">
          </cdvy-button-primary>
          <cdvy-button-primary cdvy-button-title="Upload from zip"
                               cdvy-button-icon="fa fa-github"
                               ng-click="dashboardLearnMoreCtrl.importFirstProjectZip();">
          </cdvy-button-primary>
        </div>

      </cdvy-learn-more-item-content>
    </cdvy-learn-more-item>

    <cdvy-learn-more-item cdvy-learn-more-key="try-samples" cdvy-learn-more-section="basic">
      <cdvy-learn-more-item-title>Try sample projects</cdvy-learn-more-item-title>
      <cdvy-learn-more-item-content>Here are some projects to try.

        <div layout="row" class="dashboard-learn-more-poweredby">
          <div ng-click="dashboardLearnMoreCtrl.trySampleProject()">
            <a target="_blank" href="https://codenvy.com/f?id=xn9n91ju3khwm375"><img src="https://raw.githubusercontent.com/codenvy/factories/master/images/angularjs.png">
            </a>
          </div>
          <div ng-click="dashboardLearnMoreCtrl.trySampleProject()">
            <a target="_blank" href="https://codenvy.com/f?id=g08a3escw5kxj2xk"><img src="https://raw.githubusercontent.com/codenvy/factories/master/images/android.png">
            </a>
          </div>
          <div ng-click="dashboardLearnMoreCtrl.trySampleProject()">
            <a target="_blank" href="https://codenvy.com/f?id=wc8jn2ga90lbudih"><img src="https://raw.githubusercontent.com/codenvy/factories/master/images/golang.jpg">
            </a>
          </div>
        </div>

        <div layout="row" class="dashboard-learn-more-poweredby">
          <div ng-click="dashboardLearnMoreCtrl.trySampleProject()">
            <a target="_blank" href="https://codenvy.com/f?id=3whn4ky6ycfnm5p1"><img src="https://raw.githubusercontent.com/codenvy/factories/master/images/jruby.png">
            </a>
          </div>
          <div ng-click="dashboardLearnMoreCtrl.trySampleProject()">
            <a target="_blank" href="https://codenvy.com/f?id=6cfu1qjbvpm2cs1x"><img src="https://raw.githubusercontent.com/codenvy/factories/master/images/node.jpg">
            </a>
          </div>
          <div ng-click="dashboardLearnMoreCtrl.trySampleProject()">
            <a target="_blank" href="https://codenvy.com/f?id=6gfh88aqvlcbe279"><img src="https://raw.githubusercontent.com/codenvy/factories/master/images/python27.png">
            </a>
          </div>
        </div>


      </cdvy-learn-more-item-content>
    </cdvy-learn-more-item>



    <!--
        <cdvy-learn-more-item cdvy-learn-more-key="create-factory" cdvy-learn-more-section="basic">
          <cdvy-learn-more-item-title>Create and share a factory</cdvy-learn-more-item-title>
          <cdvy-learn-more-item-content>Automatically generate consistent project replicas that can be shared to other developers.
            <ol>
              <li>Build a <a href="http://docs.codenvy.com/user/tutorials/factories/#building-factory">Contribution Factory</a> for your project.</li>
              <li>Embed the button in README file.</li>
              <li>Share it to your network.</li>
            </ol>
            <div layout="column" layout-gt-lg="row" layout-align="center center">
              <cdvy-button-primary cdvy-button-title="See the docs"
                                   cdvy-button-icon="fa fa-book"
                                   target="_blank"
                                   href="http://docs.codenvy.com/user/tutorials/factories/#building-factory">
              </cdvy-button-primary>
              <cdvy-button-primary cdvy-button-title="Create Factory"
                                   cdvy-button-icon="fa fa-share-square-o"
                                   href="/factories">
              </cdvy-button-primary>
            </div>
          </cdvy-learn-more-item-content>
        </cdvy-learn-more-item>
        -->

  </cdvy-learn-more>
</div>
