.onpremises-admin-bridge-codenvyaccount-forgotpassword
  margin-left: 3em

.onpremises-admin-bridge-codenvyaccount-noaccount
  margin-left: 3em

.onpremises-admin-bridge-codenvyaccount-noaccount a
  margin-left: 1em

.onprem-admin-bridge-account-auth-error
  color $codenvy-orange-color
  font-size 15px

.onpremises-admin-bridge-codenvyaccount-expiration-label
  padding-right 1em
  padding-left 3em

.onpremises-admin-bridge-codenvyaccount-expiration-date
  font-weight bold
