/*
 * Copyright (c) 2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 */

.onpremises-admin-bridge-codenvyaccount-noaccount a
  margin-left: 1em

.onprem-admin-bridge-account-auth-error
  color $auth-error-color

.onprem-admin-bridge-account-auth-loggedin
  color $auth-ok-color

/*.onpremises-admin-bridge-codenvyaccount-expiration-label*/


.onpremises-admin-bridge-codenvyaccount-expiration-date
  font-weight bold

frame(bgcolor, textcolor)
  text-align center
  background-color bgcolor
  color textcolor
  border-radius 4px
  padding-top 4px
  padding-bottom 4px

.onpremises-admin-bridge-codenvyaccount-subscription-frame-nosub
  frame($frame-nosubscription-bg-color, $frame-nosubscription-color)

.onpremises-admin-bridge-codenvyaccount-subscription-frame-sub
  frame($frame-subscription-bg-color, $frame-subscription-color)

.onpremises-admin-bridge-codenvyaccount-margin-above
  margin-top 1em

.onpremises-admin-bridge-codenvyaccount-auth-message
  margin-left 2em
  margin-right 2em
