.onpremises-admin-bridge-codenvyaccount-forgotpassword
  margin-left: 3em

.onpremises-admin-bridge-codenvyaccount-noaccount
  margin-left: 3em

.onpremises-admin-bridge-codenvyaccount-noaccount a
  margin-left: 1em