$list-border-color = #E4E4E4
$list-background-color = #FFFFFF

.cdvy-list
  border-radius 3px
  box-shadow 0px 2px 6px 0px rgba(0, 0, 0, 0.4)
  border 1px solid $list-border-color
  display block
  padding 0px
  background-color $list-background-color

.cdvy-list-content
  width 100%
