<div layout="row" layout-align="center center" class="cdvy-list-item-checkbox-main">
                                                                                          <!-- add aria-label attribute if there is a value -->
                                                                                          <!-- ||undefined removes the tag when value is empty -->
  <md-checkbox type="checkbox" data-ng-model="valueModel" class="cdvy-list-item-checkbox" ng-attr-aria-label="{{ariaLabel||undefined}}"></md-checkbox>
  <md-icon md-font-icon="{{icon}}"></md-icon>
</div>
