$row-separator-color = #E4E4E4
$row-selection-color = rgba(83, 140, 171, 0.13)

.cdvy-list-item
  display inline-block
  width 100%

.cdvy-list-item:hover
  background-color $row-selection-color

.cdvy-list-item:not(:last-child)
  border-bottom 1px solid $row-separator-color

.cdvy-list-item-content
  width 100%
