.team-members-account-container
  width 300px
  font-size 16px
  color $white-color

.team-members-account-label
  margin-right 10px

.team-members-account, .team-members-account:focus, .team-members-account md-select-value
  color $white-color !important
  font-size 16px

.team-members-account md-select-value
  border-bottom-color $white-color !important

.team-members-account md-content
  padding 0px

.team-members-list
  position relative

.team-members-list > md-content
  position absolute
  bottom 0
  right 0
  left 0
  top 0
