.factory-configuration-panel
  margin-bottom 15px

.factory-configuration-panel .configuration-panel-button
  float right

.factory-configuration-panel .configuration-panel-button .cdvy-button
  margin-right 0

.factory-configuration-panel .json-editor
  border 1px solid  $list-separator-color
  margin-bottom 10px

.factory-configuration-panel .json-editor .CodeMirror
  height 500px
