$consumed-color = #4e5a96
$provided-color = #9b9b9b

.balance-simple-chart-of-usage
  width 125px
  height 125px

.balance-simple-consumed-provided-separator
  background-color $provided-color
  width 100%
  height 1px
  margin 10px 0px

.balance-simple-consumed-value
  color $consumed-color
  font-weight bold

.balance-simple-provided-value
  color $provided-color
  font-weight bold

.balance-simple-chart
  width 125px
  height 125px

.balance-simple-available-provided-section
  height 100px
