$consumed-color = #4e5a96
$provided-color = #3b9275
$charged-color = #f17a3d
$separator-color = #9b9b9b

.balance-extended-chart-of-usage
  width 125px
  height 125px

.balance-extended-separator
  background-color $separator-color
  width 100%
  height 1px
  margin 10px 0px

.balance-extended-consumed-value
  color $consumed-color
  font-weight bold

.balance-extended-provided-value
  color $provided-color
  font-weight bold

.balance-extended-charged-value
  color $charged-color
  font-weight bold

.balance-extended-chart
  width 125px
  height 125px
  margin-bottom -20px

.balance-extended-provided-charged-section
  height 100px
  margin-left 10px

.balance-extended-plus
  width 16px
  height 16px
  line-height 16px
  color $white-color
  background-color $separator-color
  border-radius 8px
  text-align center
  font-weight bold

.balance-extended-margin-20
  margin-left 20px

