.invoice-row
  margin-bottom 30px

.invoice-link:hover
  color $link-color
  codenvy-brightness(70%)

.invoice-link,
.invoice-link:hover
  color $link-color

.balance-panel
  margin-left -20px
  margin-top 20px
