$consumed-color = #4e5a96
$provided-color = #9b9b9b

.invoice-row
  margin-bottom 30px

.invoice-link
  color $link-color

.chart-of-usage
  width 125px
  height 125px

.available-provided-separator
  background-color $provided-color
  width 100%
  height 1px
  margin 10px 0px

.consumed-value
  color $consumed-color
  font-weight bold

.provided-value
  color $provided-color
  font-weight bold

.available-provided-section
  margin-top 25px

.balance-panel
  margin-left -20px
  margin-top 20px
