.projects-list-project-panel-toolbar
  font-weight bold

.projects-list-projects md-card
  margin-top 20px
  margin-bottom 20px

.projects-list-projects md-icon
  font-size 24px
  height auto
  width auto


.projects-list-projects md-card-content
  padding 0px

.projects-list-projects md-list
  padding 0px

.projects-list-projects md-content
  padding 15px

.projects-list-projects md-item:nth-child(2n) md-item-content
  background-color #FCFCFC


.projects-list-projects md-item:nth-child(2n+1) md-item-content
  background-color #FFFFFF


.projects-list-projects .cdvy-link
  text-decoration none
  color active-color

