$title-color = #545B64
$description-color = #9B9EA0
$icon-color = #D3D3D3

.projects-list-project-panel-toolbar
  font-weight bold

.projects-list-projects md-card
  margin 20px 0

.projects-list-projects md-icon
  font-size 24px
  height auto
  width auto
  color $icon-color

.projects-list-projects md-card-content
  padding 0px

.projects-list-projects md-list
  padding 0px

.projects-list-projects md-content
  padding 15px

.projects-list-projects .cdvy-link
  text-decoration none
  color active-color


.project-type-icon
  margin 0px 24px
  height 36px !important
  width 36px !important
  font-size 36px !important

.project-list-static-icon
  flex 0 0 86px

.project-list-row
  height 56px
  width 100%

.project-name
  font-size 16px
  line-height 19px
  color $title-color
  margin-bottom 3px

.project-name a
  text-decoration none
  color inherit

.project-details
  font-size 12px
  line-height 15px
  color $description-color

.project-list-empty
  font-size 12px


.project-list-section-title md-icon
  margin-right 10px
  font-size 16px
  line-height 19px
  color #A1A1A1

md-progress-linear.projects-list-projects-progress
  height 10px

.projects-list-projects-filter-panel
  background-color white

.projects-list-projects-filter-workspace-label
  color $title-color
  margin-left 10px
  margin-top 6px

.projects-list-projects-filter-action
  color active-color
  text-transform uppercase
  margin-top 3px
  margin-right 10px

.projects-list-projects-filter-action-icon
 margin-right 20px

.projects-list-projects-select-workspace md-checkbox
  margin-left 10px

.projects-list-projects-select-workspace md-checkbox .md-label
  color $title-color

.projects-list-projects-select-workspace md-checkbox:after
  codenvy-separator()
  margin-top 17px
  margin-left 10px

.projects-list-projects-select-workspace:last-child  md-checkbox:after
  display none
