.projects-list-project-panel-toolbar
  font-weight bold

.projects-list-projects md-icon
  font-size 24px
  height auto
  width auto
  color $form-element-border-color
  line-height 24px

.projects-list-projects md-list
  padding 0px

.projects-list-projects md-content
  padding 15px

.projects-list-projects .cdvy-link
  text-decoration none
  color $primary-color

.project-list-empty
  font-size 12px

.md-toolbar-tools
  flex-wrap wrap

.md-toolbar-tools cdvy-search
  width 800px
  margin-left 7px
  min-width fit-content

.md-toolbar-tools .md-toolbar-item
  min-width 218px
  margin-left 7px

.md-toolbar-tools .md-toolbar-item:hover
  opacity 0.8

.md-toolbar-tools .md-toolbar-item div
  width 100%

.md-toolbar-item .projects-list-projects-cog
  float right
  margin-right 2px

md-progress-linear.projects-list-projects-progress
  height 10px

.projects-list-projects-filter-panel
  background-color $background-color

.projects-list-projects-filter-workspace-label
  color $label-primary-color
  margin-left 10px

.projects-list-projects-filter-action
  color $primary-color
  text-transform uppercase
  margin-top 3px
  margin-right 10px

.projects-list-projects-filter-action-icon
  margin-right 20px

.projects-list-projects-select-workspace md-checkbox
  margin-left 10px

.projects-list-projects-select-workspace md-checkbox .md-label
  color $label-primary-color

.projects-list-projects-select-workspace md-checkbox:after
  codenvy-separator()
  margin-top 17px
  margin-left 10px

.projects-list-projects-select-workspace:last-child md-checkbox:after
  display none
