<cdvy-toolbar cdvy-title="{{workspaceDetailsCtrl.workspaceDetails.name}}"
              cdvy-title-icons-controller="workspaceDetailsCtrl"
              cdvy-button-name="Open in IDE"
              cdvy-button-href="#/ide/{{workspaceDetailsCtrl.workspaceDetails.name}}"
              cdvy-breadcrumb-title="All workspaces"
              cdvy-breadcrumb-href="#/workspaces">
</cdvy-toolbar>
<md-progress-linear md-mode="indeterminate" ng-show="workspaceDetailsCtrl.loading"></md-progress-linear>

<md-content md-scroll-y flex ng-if="workspaceDetailsCtrl.workspaceDetails"
             md-theme="maincontent-theme">
  <md-tabs md-dynamic-height md-stretch-tabs="always" md-swipe-content md-selected="selectedIndex">
    <md-tab>
      <md-tab-label>
        <md-icon md-font-icon="material-design icon-ic_settings_24px" class="cdvy-tab-label-icon"></md-icon>
        <span class="cdvy-tab-label-title">Settings</span>
      </md-tab-label>
      <md-tab-body>
        <cdvy-panel cdvy-title="Workspace Information" class="workspace-details-content workspace-details-information">
          <div layout="row" flex>
              <ng-form flex layout="column" name="workspaceInformationForm">
                <cdvy-input cdvy-form="workspaceInformationForm"
                            cdvy-name="name"
                            cdvy-label-name="Name"
                            cdvy-place-holder="Name of the workspace"
                            ng-model="workspaceDetailsCtrl.newName"
                            required
                            ng-maxlength="128"
                            ng-pattern="/^[A-Za-z0-9_\-\.]+$/">
                  <div ng-message="required">A name is required.</div>
                  <div ng-message="pattern">The name should not contain special characters like space, dollar, etc.</div>
                  <div ng-message="maxlength">The name has to be less than 128 characters long.</div>
                  <div ng-message="md-maxlength">The name has to be less than 128 characters long.</div>
                </cdvy-input>
              </ng-form>
              <div flex="none" flex-offset="5" layout="column" layout-align="end end">
                <cdvy-button-primary ng-disabled="(workspaceInformationForm.$invalid || workspaceDetailsCtrl.newName === workspaceDetailsCtrl.workspaceDetails.name)"
                                     cdvy-button-title="Rename" name="updateButton" ng-click="workspaceDetailsCtrl.renameWorkspace(workspaceInformationForm.$valid)"/>
              </div>
          </div>
          <div layout="row">
            <cdvy-label-container flex layout="row" cdvy-label-name="State">
              <workspace-status-indicator cdvy-status="workspaceDetailsCtrl.workspaceDetails.status"></workspace-status-indicator>
            </cdvy-label-container>
            <div flex="none" flex-offset="5" layout="column" layout-align="end end">
              <cdvy-button-default ng-disabled="(workspaceDetailsCtrl.workspaceDetails.status !== 'STOPPED')"
                                   ng-show="(workspaceDetailsCtrl.workspaceDetails.status === 'STOPPED' || workspaceDetailsCtrl.workspaceDetails.status === 'STARTING')"
                                   cdvy-button-title="Run" name="runButton"
                                   ng-click="workspaceDetailsCtrl.runWorkspace()"/>
              <cdvy-button-default ng-disabled="(workspaceDetailsCtrl.workspaceDetails.status !== 'RUNNING')"
                                   ng-show="(workspaceDetailsCtrl.workspaceDetails.status === 'RUNNING' || workspaceDetailsCtrl.workspaceDetails.status === 'STOPPING')"
                                   cdvy-button-title="Stop" name="stopButton"
                                   ng-click="workspaceDetailsCtrl.stopWorkspace()"/>
            </div>
          </div>
        </div>
        </cdvy-panel>
          <cdvy-panel cdvy-title="Export Workspace" class="workspace-details-content">
              <div ng-if="!workspaceDetailsCtrl.exportWorkspaceContent" layout="row" flex layout-align="space-around start">
                <label flex="15" class="workspace-details-description">
                    Export your workspace to a JSON file.
                </label>

                <div layout="column" flex="85">
                  <cdvy-button-default cdvy-button-title="export" ng-click="workspaceDetailsCtrl.exportWorkspace($event)"/>
                </div>
              </div>
              <div ng-if="workspaceDetailsCtrl.exportWorkspaceContent.length > 0">
                  <div layout="row" flex>
                    <div flex="90">
                      <ui-codemirror class="workspace-editor"
                                   ui-codemirror="workspaceDetailsCtrl.editorOptions"
                                   ng-model="workspaceDetailsCtrl.exportWorkspaceContent"></ui-codemirror>
                    </div>
                    <div layout="row" layout-align="center center"><cdvy-clipboard class="copy-clipboard" cdvy-value="workspaceDetailsCtrl.exportWorkspaceContent"></cdvy-clipboard></div>
                  </div>
                  <div layout="column">
                    <cdvy-button-default cdvy-button-title="download"
                                         cdvy-button-icon="fa fa-download"
                                         ng-href="{{workspaceDetailsCtrl.downloadLink}}"/>

                  </div>
              </div>


          </cdvy-panel>
        <cdvy-panel cdvy-title="Delete Workspace" class="workspace-details-content">
          <div layout="row" flex layout-align="space-around start">
            <label flex="15" class="workspace-details-description">
              This is irreversible. Deleting your workspace will also delete its projects.
            </label>
            <div layout="column" flex="85">
              <cdvy-button-danger cdvy-button-title="Delete" ng-click="workspaceDetailsCtrl.deleteWorkspace($event)"/>
            </div>
          </div>
        </cdvy-panel>
      </md-tab-body>
    </md-tab>
    <md-tab >
      <md-tab-label>
        <md-icon md-font-icon="material-design icon-ic_inbox_24px" class="cdvy-tab-label-icon"></md-icon>
        <span class="cdvy-tab-label-title">Projects</span>
      </md-tab-label>
      <md-tab-body>
        <workspace-details-projects></workspace-details-projects>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</md-content>


<md-content ng-show="workspaceDetailsCtrl.invalidWorkspace">
  {{workspaceDetailsCtrl.invalidWorkspace}}
</md-content>


