<div layout="column" flex class="stack-library-filter">
    <div layout="row" flex layout-align="center center">
      <div flex="15" hide-sm hide-md>
        <div>Filter: </div>
        <div class="stack-library-filter-description">
          You can filter the stacks by selecting technologies.
        </div>
      </div>
      <div layout="column" flex="85">
        <md-chips class="stack-library-filter-tags"
                  ng-model="codenvyStackLibraryFilterCtrl.selectedTags"
                  md-transform-chip="codenvyStackLibraryFilterCtrl.transformChip($chip)"
                  md-on-add="codenvyStackLibraryFilterCtrl.onAdd()"
                  md-on-remove="codenvyStackLibraryFilterCtrl.onRemove()"
                  md-separator-keys="codenvyStackLibraryFilterCtrl.keys">
            <input type="text"
                   ng-model="codenvyStackLibraryFilterCtrl.chip"
                   ng-change="codenvyStackLibraryFilterCtrl.querySearch(codenvyStackLibraryFilterCtrl.chip)"/>
          <md-chip-template>
            <div class="stack-library-filter-tag-text">{{$chip | uppercase}}</div>
            <div class="stack-library-filter-tag-btn">
              <i class="fa fa-close"></i>
            </div>
          </md-chip-template>
        </md-chips>
        <div class="stack-library-filter-description">
          Use <span class="stack-library-filter-description-bold">tab</span> or <i class="fa fa-arrow-up"></i> <i class="fa fa-arrow-down"></i> to navigate. <span class="stack-library-filter-description-bold">Return</span> to add.
        </div>
      </div>
    </div>
    <div layout="row" flex="100" layout-align="center center" ng-show="codenvyStackLibraryFilterCtrl.suggestions.length">
      <label flex="15" hide-sm hide-md>Suggestions: </label>
      <div layout="column" flex="85">
        <md-chips ng-model="codenvyStackLibraryFilterCtrl.suggestions"
                  class="stack-library-filter-suggestions"
                  readonly="true">
          <md-chip-template>
            <div class="stack-library-filter-suggestion-text">{{$chip | uppercase}}</div>
            <div class="stack-library-filter-suggestion-btn" ng-click="codenvyStackLibraryFilterCtrl.onSelectSuggestion($chip)">
              <i class="fa fa-plus"></i>
            </div>
          </md-chip-template>
        </md-chips>
      </div>
    </div>

</div>
