.search-component
  display inline-flex
  border-bottom $white-color 1px solid
  width 100%

.search-input
  background-color inherit
  color $white-color
  box-shadow none
  border none
  padding 0px
  height 24px
  line-height 24px
  padding 5px 0px
  width 100%
  outline none

.search-component md-icon
  height 18px
  width 18px

.search-icon
  float right

