.project-permissions-content
  padding-left 15px
  padding-top 15px
  padding-bottom 15px

.projects-project-details-developers-list
  //nothing ATM
.project-permission-list-side
  width 0
  flex-shrink 0
  flex-grow 0
  position static

.project-permission-list-side-big
  width 80px
  position relative

.projects-project-details-developers-face-container
  flex-shrink 0
  margin-top auto

.projects-project-details-developers-face
  codenvy-developers-face()
  margin-left 10px
  margin-right 20px

.projects-project-details-developers-group
  @extend .projects-project-details-developers-face
  font-size 25px
  padding-top 7px
  padding-left 5px
  color $label-primary-color

.projects-project-details-principal-name
  color $label-secondary-color
  text-overflow ellipsis
  white-space nowrap
  overflow hidden

.projects-project-details-principal-permissions
  color $label-info-color

.permissions-small .projects-project-details-principal-permissions
  margin-left 67px

.permissions-small
  margin-bottom 75px

.projects-project-details-developers-list:not(.permissions-small) .cdvy-list-item .project-permission-row .project-permission-actions
  display none

.projects-project-details-developers-list:not(.permissions-small) .cdvy-list-item:hover .project-permission-row .project-permission-actions
  display flex

.project-permission-actions
  color $label-info-color
  cursor pointer
  height 30px
  font-size 30px
  line-height 30px
  & span
    margin-right 15px

.project-permission-row
  min-height 56px

.projects-project-details-developers-list:not(.permissions-small) .project-permission-row > .project-permission-actions
  margin 0
  width 100%
  text-align end
  display inline-block

.project-details-developers-dialog .cdvy-input-desktop-value-column
  padding-left 15px

.projects-project-details-developers-edit-panel
  background-color $list-separator-color

.projects-project-details-developers-edit-panel-action
  cursor pointer
  color $primary-color
  text-transform uppercase
  margin-top 3px
  margin-right 10px

.projects-project-details-developers-edit-panel-action-icon
  margin-right 20px
  cursor pointer

.projects-project-details-developers-edit-panel-label
  color $label-primary-color
  margin-left 10px

.projects-project-details-developers-edit-panel-checkboxes md-checkbox
  margin-left 10px

.projects-project-details-developers-edit-panel-checkboxes md-checkbox .md-label
  color $label-primary-color

.projects-project-details-developers-edit-panel-checkboxes md-checkbox:after
  codenvy-separator()
  position static
  margin-top 17px
  margin-left 10px

.projects-project-details-developers-edit-panel-checkboxes md-checkbox:last-child:after
  display none
