.projects-project-details-developers-list
  margin-right 80px

.projects-project-details-developers-face
  codenvy-developers-face()
  margin-left 10px
  margin-right 20px

.projects-project-details-developers-group
  @extend .projects-project-details-developers-face
  font-size 25px
  padding-top 7px
  padding-left 5px
  color $label-primary-color

.projects-project-details-principal-name
  color $label-secondary-color

.projects-project-details-principal-permissions
  color $label-info-color


.cdvy-list-item .projects-project-details-line-links
  display none

.cdvy-list-item:hover .projects-project-details-line-links
  display inherit


.projects-project-details-line-links
  color $label-info-color
  cursor pointer
  font-size 30px

.projects-project-details-line-links span
  margin-right 15px

.project-details-developers-dialog .cdvy-input-desktop-value-column
  padding-left 15px


.projects-project-details-developers-edit-panel
  background-color $list-separator-color

.projects-project-details-developers-edit-panel-action
  cursor pointer
  color $primary-color
  text-transform uppercase
  margin-top 3px
  margin-right 10px

.projects-project-details-developers-edit-panel-action-icon
  margin-right 20px
  cursor pointer

.projects-project-details-developers-edit-panel-label
  color $label-primary-color
  margin-left 10px
  margin-top 6px

.projects-project-details-developers-edit-panel-checkboxes md-checkbox
  margin-left 10px

.projects-project-details-developers-edit-panel-checkboxes md-checkbox .md-label
  color $label-primary-color

.projects-project-details-developers-edit-panel-checkboxes md-checkbox:after
  codenvy-separator()
  margin-top 17px
  margin-left 10px

.projects-project-details-developers-edit-panel-checkboxes md-checkbox:last-child:after
  display none
