$projects-create-project-sample-title-color = #545B64

.projects-create-project-samples-list-row
  height 16px

.projects-create-project-samples-list-samplename
  font-size 12px
  color $projects-create-project-sample-title-color
  margin-left 10px
