<script src="/bower_components/card/lib/js/card.js"></script>
<div layout="row" >
  <div class="card-wrapper card-container"></div>
  <div layout="column" flex>
    <cdvy-input cdvy-form="creditCardInformationForm"
                cdvy-name="cardNumber"
                id="cardNumber"
                cdvy-label-name="Card Number"
                cdvy-place-holder="**** **** **** ****"
                ng-model="addCreditcardCtrl.creditCard.number"
                required
                pattern="[0-9,/ ]{16,}"
                ng-maxlength="19" ng-minlength="12">
      <div ng-message="required">A credit card number is required.</div>
      <div ng-message="maxlength">The credit card number has to be 12-19 digits long.</div>
      <div ng-message="minlength">The credit card number has to be 12-19 digits long.</div>
    </cdvy-input>
    <cdvy-input cdvy-form="creditCardInformationForm"
                cdvy-name="cardholderName"
                id="cardholderName"
                cdvy-label-name="Cardholder Name"
                cdvy-place-holder="Name"
                ng-model="addCreditcardCtrl.creditCard.cardholder"
                required
                ng-maxlength="128">
      <div ng-message="required">A cardholder name is required.</div>
      <div ng-message="maxlength">The name has to be less than 128 characters long.</div>
    </cdvy-input>
    <cdvy-input cdvy-form="creditCardInformationForm"
                cdvy-name="expires"
                id="expires"
                cdvy-label-name="Expires"
                cdvy-place-holder="--/--"
                ng-model="addCreditcardCtrl.creditCard.expires"
                pattern="[0-9,//,/ ]{7,}"
                required>
      <div ng-message="required">The expires value is required.</div>
    </cdvy-input>
    <cdvy-input cdvy-form="creditCardInformationForm"
                cdvy-name="cvv"
                id="cvv"
                cdvy-label-name="CVV"
                cdvy-place-holder="****"
                ng-model="addCreditcardCtrl.creditCard.cvv"
                required
                pattern="[0-9]{3,}"
                ng-minlength="3"
                ng-maxlength="4">
      <div ng-message="required">A cvv code is required.</div>
      <div ng-message="maxlength">The cvv code has to be less than 4 digits long.</div>
      <div ng-message="minlength">The cvv code has to be more than 3 digits long.</div>
    </cdvy-input>
    <cdvy-input cdvy-form="creditCardInformationForm"
                cdvy-name="postCode"
                cdvy-label-name="Post Code"
                cdvy-place-holder="****"
                ng-model="addCreditcardCtrl.creditCard.postCode"
                required
                ng-minlength="3"
                ng-maxlength="10">
      <div ng-message="required">A postal code is required.</div>
      <div ng-message="maxlength">The postal code has to be 3-10 symbols long.</div>
      <div ng-message="minlength">The postal code has to be 3-10 symbols long.</div>
    </cdvy-input>
  </div>
</div>
<cdvy-input cdvy-form="creditCardInformationForm"
            cdvy-name="streetAddress"
            cdvy-label-name="Street Address"
            cdvy-place-holder=""
            ng-model="addCreditcardCtrl.creditCard.streetAddress"
            ng-maxlength="128">
  <div ng-message="maxlength">The address has to be less than 128 characters long.</div>
</cdvy-input>
<cdvy-input cdvy-form="creditCardInformationForm"
            cdvy-name="city"
            cdvy-label-name="City"
            cdvy-place-holder=""
            ng-model="addCreditcardCtrl.creditCard.city"
            ng-maxlength="128">
  <div ng-message="maxlength">The city has to be less than 128 characters long.</div>
</cdvy-input>
<cdvy-input cdvy-form="creditCardInformationForm"
            cdvy-name="state"
            cdvy-label-name="State"
            cdvy-place-holder=""
            ng-model="addCreditcardCtrl.creditCard.state"
            ng-maxlength="128">
  <div ng-message="maxlength">The state has to be less than 128 characters long.</div>
</cdvy-input>
<cdvy-select cdvy-label-name="Country"
             cdvy-option-values="addCreditcardCtrl.countries"
             cdvy-place-holder="Select Your Country"
             cdvy-value="addCreditcardCtrl.creditCard.country">
</cdvy-select>
