.cdvy-tab md-tab
  padding-top 16px
  padding-right 70px
  padding-left 70px

.cdvy-tab  md-tab.active
  color active-color !important

.cdvy-tab  md-tab#tab_001:after
  display none

.cdvy-tab  md-tab:after
  position absolute
  top 0
  left 0
  height 24px
  margin-top 12px
  border solid 1px sub-menu-separator-color
  content ""
