
/* There are two kinds of elements here:
   md-tab-item Those are the items you see in the tab header
   md-dummy-tab Those are used for pagination size calculations so need to have the same layout as md-tab-item
*/

md-tabs md-tabs-canvas.md-center-tabs
  & md-tab-item.md-tab,
  & md-dummy-tab.md-tab
    min-width max-content /* at least as wide as the content */
    flex-basis 0          /* all tab headers should have same width _when possible_ */
    display flex
    /* same as angular-md layout="row" layout-align="center center" */
    flex-direction row
    justify-content center
    align-items center

md-tab-item.md-tab, md-dummy-tab.md-tab
  & .cdvy-tab-label-icon
    flex-grow 0
    margin-left 0
    margin-right 20px

/* set font-size and line height for both <md-icon> and <i> tab icons */
md-tab-item.md-tab, md-dummy-tab.md-tab
  & .cdvy-tab-label-icon span.md-font.cdvy-tab-label-icon,
  & md-icon.cdvy-tab-label-icon::before,
  & i.cdvy-tab-label-icon, & i.cdvy-tab-label-icon::before
    font-size 20px
    line-height 24px

/* add a separator before each tab item except the first one */
md-tab-item.md-tab + md-tab-item.md-tab::before, md-dummy-tab.md-tab + md-dummy-tab.md-tab::before
  codenvy-separator()
  left 0               /* codenvy-separator() creates a 1px border at absolute top=0, add right 0 to position horozontally */

/* ensure background for tab header */
md-tabs-canvas
  background-color $background-color

/* selected tab color changes */
md-tabs-canvas md-tab-item.md-tab.md-active,
md-tabs-canvas md-tab-item.md-tab.md-active md-icon.cdvy-tab-label-icon::before
  color $primary-color !important /* either !important or preprend md-tabs.md-maincontent-theme-theme  to selector */

md-tabs md-tab-item:not(.md-active)
  border-bottom 1px solid $disabled-color

/** Keep for the moment **/
section:not(.md-paginating) .md-header-items
  width 99.8%
  margin-left 0.1%
  display flex
  flex-flow row nowrap
  justify-content flex-start

section:not(.md-paginating) .cdvy-tab
  max-width 600px !important
  align-self auto
  flex auto

section:not(.md-paginating) .cdvy-tab md-tab
  width 100% !important
  padding-top 14px
  min-width 150px

md-tabs button.md-paginator+div.md-header-items-container
  left 32px !important

md-tabs div.md-header-items-container
  left 0 !important

md-tabs md-tabs-ink-bar.md-no-transition
  background none

.cdvy-tab:not(md-tab.active)
    border-bottom 2px solid $primary-color !important

.cdvy-tab md-tab
  display inline-block

.md-paginating .cdvy-tab md-tab
  padding-top 14px
  padding-left 100px
  padding-right 100px

.cdvy-tab md-tab:not(.material-design) md-tab-label
  bottom 1px

.cdvy-tab md-tab md-tab-label
  font-family Lato, sans-serif
  text-transform uppercase
  position relative
  font-size 14px
  bottom 5px

.cdvy-tab md-tab.active
  color $primary-color !important

.md-no-transition[style^="display: block; left: 0px;"] + .cdvy-tab md-tab
  color $primary-color !important

.cdvy-tab md-tab:before
  bottom 1px
  font-size 20px
  margin-right 20px
  position relative

.cdvy-tab:last-child:after
  display none

.cdvy-tab:after
  codenvy-separator()


.md-no-transition[style^="display: block; left: 0px;"] + .cdvy-tab md-tab:after,
.cdvy-tab md-tab.active:after
  border-top solid 3px $primary-color
  position absolute
  margin-top 12px
  bottom 0
  right 1px
  left 1px
  top 34px
  content ""
