.cdvy-input-desktop [ng-message], .create-project-box .ng-invalid
  color $error-color

.cdvy-input-desktop input
  border-width 0 0 1px 0
  border-color $default-border-color

.cdvy-input-desktop input:focus
  border-color $primary-color

.cdvy-input-desktop input.ng-invalid:focus
  border-color $error-color


.cdvy-input-desktop input.ng-invalid
  color $error-color
  border-color $error-color

.cdvy-input-desktop
  margin-top 5px
  margin-bottom 20px


