.cdvy-input-desktop [ng-message], .create-project-box .ng-invalid
  color rgb(244,67,54)

.cdvy-input-desktop input
  border-width 0 0 1px 0

.cdvy-input-desktop input.ng-invalid
  color rgb(244,67,54)
  border-color rgb(244,67,54)

.cdvy-input-desktop
  margin-top 5px
  margin-bottom 20px
