.factories-list-header
  flex-wrap wrap

.factories-list-header cdvy-search
  width 800px
  margin-left 7px
  min-width fit-content

.factories-list-header .md-toolbar-item
  min-width 218px
  margin-left 7px

.factories-list-header .md-toolbar-item .factories-list-factories-cog:hover
  codenvy-brightness(80%)

.factories-list-header .md-toolbar-item div
  width 100%

.factories-list-project-panel-toolbar
  font-weight bold

.factories-list-factories
  overflow visible
  min-height calc(100vh - 192px)

.factories-list-factories .empty-state
  height 100%

.factories-list-factories md-icon
  font-size 24px
  height auto
  width auto
  color $label-info-color
  line-height 24px

.factories-list-factories md-list
  padding 0

.factories-list-factories md-content
  padding 15px

.factories-list-factories .cdvy-link
  text-decoration none
  color $primary-color

.factories-list-notification
  height 25px

.factories-list-empty
  font-size 16px

.factories-list-factories-progress
  z-index 1
  height 10px
  position absolute

.md-toolbar-item .factories-list-factories-cog
  float right
  margin-right 2px

md-progress-linear.factories-list-factories-progress
  height 10px

.cdvy-list cdvy-factory-item:not(:last-of-type) .cdvy-list-item
  border-bottom 1px solid $list-separator-color
