
.create-project-progress-popup
  z-index 9999
  top 10px
  right 10px
  background-color white
  position absolute
  padding 5px

.create-project-progress-popup-title
  font-size 18px

.create-project-progress-popup-info-column
  min-width 300px
  margin-right 20px

.create-project-progress-popup-action
  margin-top 15px
  color $primary-color

.create-project-progress-popup-percent
  color $primary-color
  font-size 8px

.create-project-progress-popup cdvy-button-primary .cdvy-button
  min-width 250px !important

.create-project-progress-popup cdvy-button-notice .cdvy-button
  min-width 250px !important

.create-project-progress-popup-error
  color red
