<div layout="column" flex class="create-project-stack-library">
  <div class="stack-label-info">Select from our library of stacks.</div>
  <div layout="row" flex layout-align="space-around start">
    <label flex="15" hide-sm hide-md>Stack: </label>
    <md-radio-group ng-model="createProjectStackLibraryCtrl.createChoice" ng-change="createProjectStackLibraryCtrl.onChoice()">
      <div layout="row" flex="85">
        <div layout="column">
          <md-radio-button value="new-workspace" ng-if="createProjectStackLibraryCtrl.isWorkspaces">
            Create new workspace
          </md-radio-button>
          <div layout="row" layout-wrap>
            <cdvy-stack-library-selecter ng-repeat="stack in createProjectStackLibraryCtrl.stacks"
                                         ng-init="$first && createProjectStackLibraryCtrl.setStackSelectionById(stack.id)"
                                         cdvy-is-select="stack.id === createProjectStackLibraryCtrl.selectedStackId"
                                         cdvy-is-active="createProjectStackLibraryCtrl.createChoice === 'new-workspace'"
                                         cdvy-title="{{stack.name}}"
                                         cdvy-text="{{stack.description}}"
                                         cdvy-extra-text="{{createProjectStackLibraryCtrl.getTooltip(stack)}}"
                                         cdvy-stack-id="{{stack.id}}"/>
          </div>
        </div>
        <div layout="column" ng-if="createProjectStackLibraryCtrl.workspaces.length > 0 && createProjectStackLibraryCtrl.isWorkspaces" flex="50">
          <md-radio-button value="existing-workspace">
            Use existing workspace
          </md-radio-button>
          <div layout="row" layout-wrap>
            <cdvy-stack-library-workspace-selecter ng-repeat="workspace in createProjectStackLibraryCtrl.workspaces"
                                                   ng-init="$first && createProjectStackLibraryCtrl.setWorkspaceSelectionById(workspace.id)"
                                                   cdvy-is-select="workspace.id === createProjectStackLibraryCtrl.selectedWorkspaceId"
                                                   cdvy-is-active="createProjectStackLibraryCtrl.createChoice === 'existing-workspace'"
                                                   cdvy-workspace="workspace"/>
          </div>
        </div>
      </div>
    </md-radio-group>
  </div>
</div>
