<div layout="column" flex class="recipe-widget">
  <label class="recipe-widget-label">Bring your own stack.</label>
  <ng-form name="workspaceInformationForm">
    <md-radio-group ng-model="workspaceRecipeCtrl.selectSourceOption">
      <md-radio-button value="upload-custom-stack">Upload custom stack</md-radio-button>
      <div ng-if="workspaceRecipeCtrl.selectSourceOption === 'upload-custom-stack'" class="recipe-url">
        <cdvy-label-container cdvy-label-name="Recipe URL">
          <cdvy-input cdvy-form="workspaceInformationForm"
                      cdvy-name="url"
                      cdvy-place-holder="URL of the Recipe"
                      cdvy-pattern="(^((ftp|http|https)://[\w@.\-\_]+(:\d{1,5})?(/[\w#!:.?+=&%@!\_\-/]+)*){1}$)"
                      ng-model="workspaceRecipeCtrl.recipeUrl"
                      ng-maxlength="255">
            <div ng-message="maxlength">The name has to be less than 255 characters long.</div>
            <div ng-message="pattern">URL is not valid.</div>
          </cdvy-input>
        </cdvy-label-container>
      </div>
      <md-radio-button value="edit-your-stack"
                       ng-click="workspaceRecipeCtrl.updateDefaultScript()">Write your stack
      </md-radio-button>
    </md-radio-group>
    <div ng-if="workspaceRecipeCtrl.selectSourceOption === 'edit-your-stack'" class="recipe-editor">
        <ui-codemirror ui-codemirror="workspaceRecipeCtrl.editorOptions"
                       ng-model="workspaceRecipeCtrl.recipeScript"></ui-codemirror>
    </div>
    <div class="workspace-info">
    <cdvy-workspace-ram-allocation-slider ng-model="workspaceRecipeCtrl.workspaceRam"></cdvy-workspace-ram-allocation-slider>
    <cdvy-label-container cdvy-label-name="Workspace name">
      <cdvy-input cdvy-form="workspaceInformationForm"
                  cdvy-name="name"
                  cdvy-place-holder="Name of the workspace"
                  ng-model="workspaceRecipeCtrl.workspaceName"
                  required
                  ng-minlength="3"
                  ng-maxlength="20"
                  ng-pattern="/^[A-Za-z0-9_\-\.]+$/">
        <div ng-message="required">A name is required.</div>
        <div ng-message="pattern">
          Workspace name may contain digits, latin letters, _ , . , - and should start only with digits, latin letters or underscores
        </div>
        <div ng-message="minlength">The name has to be more then 3 characters long.</div>
        <div ng-message="maxlength">The name has to be less than 20 characters long.</div>
      </cdvy-input>
    </cdvy-label-container>
    </div>
  </ng-form>
</div>
