@import 'colors/codenvy-colors.styl'

.recipe-widget md-radio-button
  outline 0

.recipe-widget .cdvy-input,
.recipe-widget .cdvy-input + span,
.recipe-widget .cdvy-label-container
  margin-left 30px


.recipe-editor
  margin-top 20px
  margin-left 30px
  margin-bottom 25px
  border 1px solid $list-separator-color
