<div layout="column" flex class="recipe-widget">
  <div class="stack-label-info">Bring your own stack.</div>
  <ng-form name="workspaceInformationForm">
    <md-radio-group ng-model="workspaceRecipeCtrl.selectSourceOption">
      <md-radio-button value="upload-custom-stack">Upload custom stack</md-radio-button>
      <div ng-if="workspaceRecipeCtrl.selectSourceOption === 'upload-custom-stack'" class="recipe-url">
        <cdvy-label-container cdvy-label-name="Recipe URL">
          <cdvy-input cdvy-form="workspaceInformationForm"
                      cdvy-name="url"
                      cdvy-place-holder="URL of the Recipe"
                      cdvy-pattern="(^((ftp|http|https)://[\w@.\-\_]+(:\d{1,5})?(/[\w#!:.?+=&%@!\_\-/]+)*){1}$)"
                      ng-model="workspaceRecipeCtrl.recipeUrl"
                      ng-maxlength="255">
            <div ng-message="maxlength">The name has to be less than 255 characters long.</div>
            <div ng-message="pattern">URL is not valid.</div>
          </cdvy-input>
        </cdvy-label-container>
      </div>
      <md-radio-button value="edit-your-stack"
                       ng-click="workspaceRecipeCtrl.setRecipeScript(workspaceRecipeCtrl.defaultRecipeScript)">
        Create your own stack
      </md-radio-button>
    </md-radio-group>
    <div ng-if="workspaceRecipeCtrl.selectSourceOption === 'edit-your-stack'">
      <div class="recipe-editor">
        <ui-codemirror ui-codemirror="workspaceRecipeCtrl.editorOptions"
                     ng-model="workspaceRecipeCtrl.recipeScript"></ui-codemirror>
      </div>
      <div class="recipe-docs-link">
        <a href="https://eclipse-che.readme.io/docs/custom-machine#che-stacks">Custom stack documentation</a>
      </div>
    </div>
  </ng-form>
</div>
